

.attack {
	position: fixed;
	z-index: 10001;
    left: 0;
    bottom: 0;
    width: 4vh;
    height: 4vh;

	&.cut {
		background-size: 400% 100%;
		background-image: url('../images/attacks/cut.png');
		animation: attack4 0.25s steps(4) infinite;
	}

	&.cut2 {
		background-size: 400% 100%;
		background-image: url('../images/attacks/cut2.png');
		animation: attack4 0.3s steps(4) infinite;
	}

	&.pound {
		background-size: 2100% 100%;
		background-image: url('../images/attacks/pound.png');
		animation: attack21 0.7s steps(21) infinite;
	}

	&.swift {
		background-size: 1100% 100%;
		background-image: url('../images/attacks/swift.png');
		animation: attack11 0.75s steps(11) 1;
	}

	&.punch {
		background-size: 1300% 100%;
		background-image: url('../images/attacks/punch.png');
		animation: attack13 0.75s steps(13) 1;
	}

	&.fire-blast {
		background-size: 1100% 100%;
		background-image: url('../images/attacks/fire-blast.png');
		animation: attack11 0.75s steps(11) 1;
	}

	&.fire-punch {
		background-size: 1300% 100%;
		background-image: url('../images/attacks/fire-punch.png');
		animation: attack13 0.75s steps(13) 1;
	}

	&.bubble {
		background-size: 900% 100%;
		background-image: url('../images/attacks/bubble.png');
		animation: attack9 0.75s steps(9) 1;
	}

	&.splash {
		background-size: 1100% 100%;
		background-image: url('../images/attacks/splash.png');
		animation: attack11 0.75s steps(11) 1;
	}

	&.water-gun {
		background-size: 900% 100%;
		background-image: url('../images/attacks/water-gun.png');
		animation: attack9 0.75s steps(9) 1;
	}

	&.spark {
		background-size: 400% 100%;
		background-image: url('../images/attacks/spark.png');
		animation: attack4 0.25s steps(4) infinite;
	}

	&.seed-bomb {
		background-size: 500% 100%;
		background-image: url('../images/attacks/seed-bomb.png');
		animation: attack5 0.25s steps(5) infinite;
	}

	&.mud-slap {
		background-size: 800% 100%;
		background-image: url('../images/attacks/mud-slap.png');
		animation: attack8 0.5s steps(8) 1;
	}

	&.gust {
		background-size: 5200% 100%;
		background-image: url('../images/attacks/gust.png');
		animation: attack52 0.75s steps(52) 1;
	}

	&.string-shot {
		background-size: 1100% 100%;
		background-image: url('../images/attacks/string-shot.png');
		animation: attack11 0.5s steps(11) 1;
	}

	&.rock-throw {
		background-size: 1200% 100%;
		background-image: url('../images/attacks/rock-throw.png');
		animation: attack12 0.5s steps(12) 1;
	}

	&.bite {
		background-size: 400% 100%;
		background-image: url('../images/attacks/bite.png');
		animation: attack4 0.25s steps(4) infinite;
	}
}

@keyframes attack4 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 133.3333% 0%;
	}
}

@keyframes attack5 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 125% 0%;
	}
}

@keyframes attack8 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 114.2857% 0%;
	}
}

@keyframes attack9 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 111.1111% 0%;
	}
}

@keyframes attack11 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 110% 0%;
	}
}

@keyframes attack12 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 109.0909% 0%;
	}
}

@keyframes attack13 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 108.3333% 0%;
	}
}

@keyframes attack21 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 105% 0%;
	}
}

@keyframes attack52 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 101.9607% 0%;
	}
}
