@import './variables.scss';

.battlePokemonSprite,
.backgroundPokemonSprite {
  image-rendering: pixelated;
  position: fixed;
  height: $base-size;
  width: $base-size;
  background-size: 400% 400%;

  /* Not used currently, maybe in the future.. */
  &.big {
    height: $base-size * 4;
    width: $base-size * 4;

    progress {
      position: absolute;
      top: 0px;
      left: -50%;
      width: 200%;
      height: 20px;
      /* Important Thing */
      -webkit-appearance: none;
      border: none;
    }
  }

  z-index: 0;
  background-position: -33.333% 0%;
  transition: left 0.1s linear, bottom 0.1s linear, right 0.1s linear, top 0.1s linear;
  animation: walk-down 0.1s steps(4) infinite;

  &.move-left {
    left: -100px;
    background-position: -33.333% 33.3333%;
    @for $i from 0 through 10 {
      &.speed-#{$i} {
        animation: walk-left 0.8 - $i * 0.03s steps(4) infinite,
          move-left 120 - $i * 5s;
      }
    }
  }
  &.move-right {
    left: -100px;
    background-position: -33.333% 33.3333%;
    @for $i from 0 through 10 {
      &.speed-#{$i} {
        animation: walk-right 0.8 - $i * 0.03s steps(4) infinite,
          move-right 120 - $i * 5s;
      }
    }
  }

  &.walk-left {
    background-position: -33.333% 33.3333%;
    animation: walk-left 0.8s steps(4) infinite;
  }
  &.walk-down {
    background-position: -33.333% 0%;
    animation: walk-down 0.8s steps(4) infinite;
  }
  &.walk-right {
    background-position: -33.333% 66.6666%;
    animation: walk-right 0.8s steps(4) infinite;
  }
  &.walk-up {
    background-position: -33.333% 100%;
    animation: walk-up 0.8s steps(4) infinite;
  }

  progress {
    position: absolute;
    top: -4px;
    left: 0px;
    width: 100%;
    height: 7px;
    /* Important Thing */
    -webkit-appearance: none;
    border: none;
  }

  /* All good till now. Now we'll style the background */
  progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 1px;
  }

  /* Now the value part */
  progress::-webkit-progress-value {
    border-radius: 50px;
    background: #c0392b;
    transition: width 0.3s;
  }
  progress.team1::-webkit-progress-value {
    background: #c0392b;
  }
  progress.team2::-webkit-progress-value {
    background: #8e44ad;
  }
}

@keyframes move-left {
  0% {
    left: 4000px;
  }

  100% {
    left: -1000px;
  }
}

@keyframes move-right {
  0% {
    left: -1000px;
  }

  100% {
    left: 4000px;
  }
}
/*
POKEMON ANIMATIONS
*/

@keyframes walk-down {
  0% {
    background-position: -33.333% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

@keyframes walk-left {
  0% {
    background-position: -33.333% 33.3333%;
  }

  100% {
    background-position: 100% 33.3333%;
  }
}

@keyframes walk-right {
  0% {
    background-position: -33.333% 66.6666%;
  }

  100% {
    background-position: 100% 66.6666%;
  }
}

@keyframes walk-up {
  0% {
    background-position: -33.333% 100%;
  }

  100% {
    background-position: 100% 100%;
  }
}
