body {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -10;
	pointer-events: none;
}

.sky {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-size: auto 120vh;
	background-repeat: repeat-x;
	z-index: -5;
}

.sky-0 {
	background-image: url('../images/sky/00.png');
}

.sky-1 {
	background-image: url('../images/sky/01.png');
}

.sky-2 {
	background-image: url('../images/sky/02.png');
}

.sky-3 {
	background-image: url('../images/sky/03.png');
}

.sky-4 {
	background-image: url('../images/sky/04.png');
}

.sky-5 {
	background-image: url('../images/sky/04.png');
}

.sky-6 {
	background-image: url('../images/sky/04.png');
}

.sky-7 {
	background-image: url('../images/sky/07.png');
}

.sky-8 {
	background-image: url('../images/sky/08.png');
}

.sky-9 {
	background-image: url('../images/sky/09.png');
}

.sky-10 {
	background-image: url('../images/sky/10.png');
}

.sky-11 {
	background-image: url('../images/sky/11.png');
}

.ground {
	height: 20vh;
	width: 100vw;
	position: fixed;
	left: 0;
	bottom: 0;
	background-repeat: repeat-x;
	background-size: auto 22vh;
	z-index: -2;
}

.ground-0 {
	background-image: url('../images/ground/10.png');
}

.ground-1 {
	background-image: url('../images/ground/01.png');
}

.ground-2 {
	background-image: url('../images/ground/02.png');
}

.ground-3 {
	background-image: url('../images/ground/03.png');
}

.ground-4 {
	background-image: url('../images/ground/04.png');
}

.ground-5 {
	background-image: url('../images/ground/04.png');
}

.ground-6 {
	background-image: url('../images/ground/04.png');
}

.ground-7 {
	background-image: url('../images/ground/07.png');
}

.ground-8 {
	background-image: url('../images/ground/08.png');
}

.ground-9 {
	background-image: url('../images/ground/09.png');
}

.ground-10 {
	background-image: url('../images/ground/10.png');
}

.ground-11 {
	background-image: url('../images/ground/11.png');
}

#orbital {
	height: 140vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
	top: 10vh;
	left: 0;
	z-index: -4;
}

#sun {
	position: absolute;
	background: url('../images/sky/sun.png');
	background-size: cover;
	top: 0px;
	left: 0px;
	display: block;
	width: 18vh;
	height: 18vh;
	z-index: -4;
	transition: all 0.5s;
}

#moon {
	position: absolute;
	background: url('../images/sky/moon.png');
	background-size: cover;
	bottom: 0px;
	right: 0px;
	display: block;
	width: 14.2vh;
	height: 15vh;
	z-index: -4;
	transition: all 0.5s;
}

.cloud-container {
	width: 100vw;
	height: 100vh;
	top: 0;
	position: fixed;
	z-index: -2;
}

.cloud {
	width: 20vw;
	height: 5vh;
	z-index: -2;
	position: relative;
}

.x2 {
	left: 200px;
	transform: scale(0.6);
	opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
	animation: moveclouds 50s linear infinite;
}

.x3 {
	left: -250px;
	bottom: -20vh;
	transform: scale(0.8);
	opacity: 0.8;
  /*opacity proportional to the size*/
	animation: moveclouds 45s linear infinite;
}

.x4 {
	left: 470px;
	bottom: -10vh;
	transform: scale(0.75);
	opacity: 0.75;
  /*opacity proportional to the size*/
	animation: moveclouds 37s linear infinite;
}

@keyframes moveclouds {
	0% {
		margin-left: 100vw;
	}

	100% {
		margin-left: -100vw;
	}
}

.cloud1 {
	left: 200px;
	width: 65vh;
	height: 25vh;
	transform: scale(0.8);
	opacity: 0.3;
	animation: moveclouds 60s linear infinite;
	z-index: -3;
	background-size: cover;
	bottom: 20vh;
	position: fixed;
}

.cloud1-0 {
	background-image: url('../images/cloud/09.png');
}

.cloud1-1 {
	background-image: url('../images/cloud/01.png');
}

.cloud1-2 {
	background-image: url('../images/cloud/02.png');
}

.cloud1-3 {
	background-image: url('../images/cloud/04.png');
}

.cloud1-4 {
	background-image: url('../images/cloud/04.png');
}

.cloud1-5 {
	background-image: url('../images/cloud/04.png');
}

.cloud1-6 {
	background-image: url('../images/cloud/04.png');
}

.cloud1-7 {
	background-image: url('../images/cloud/07.png');
}

.cloud1-8 {
	background-image: url('../images/cloud/08.png');
}

.cloud1-9 {
	background-image: url('../images/cloud/08.1.png');
}

.cloud1-10 {
	background-image: url('../images/cloud/09.png');
}

.cloud1-11 {
	background-image: url('../images/cloud/10.png');
}

.pokemonSprite {
	position: fixed;
	height: 4vh;
	width: 4vh;
	background-size: 400% 400%;

	/* Not used currently, maybe in the future.. */
	&.big {
		height: 6vh;
		width: 6vh;
	}
	
	z-index: 0;
	background-position: -33.333% 0.00000%;
	transition: left 0.1s linear, bottom 0.1s linear;
	animation: walk-down 0.1s steps(4) infinite;

	&.walk-left {
		background-position: -33.333% 33.3333%;
		animation: walk-left 0.8s steps(4) infinite;
	}
	&.walk-down {
		background-position: -33.333% 0.00000%;
		animation: walk-down 0.8s steps(4) infinite;
	}
	&.walk-right {
		background-position: -33.333% 66.6666%;
		animation: walk-right 0.8s steps(4) infinite;
	}
	&.walk-up {
		background-position: -33.333% 100.000%;
		animation: walk-up 0.8s steps(4) infinite;
	}

	progress {
		position: absolute;
		top: -4px;
		left: 0px;
		width: 100%;
		height: 7px;
		/* Important Thing */
		-webkit-appearance: none;
		border: none;
	}
	
	/* All good till now. Now we'll style the background */
	progress::-webkit-progress-bar {
		background: black;
		border-radius: 50px;
		padding: 1px;
	}
	
	/* Now the value part */
	progress::-webkit-progress-value {
		border-radius: 50px;
		background: #c0392b;
    transition: width 0.3s;
	}
	progress.team1::-webkit-progress-value {
		background: #c0392b;
	}
	progress.team2::-webkit-progress-value {
		background: #8e44ad;
	}
}

@keyframes moveLeft {
	0% {
		left: 4000px;
	}

	100% {
		left: -1000px;
	}
}

@keyframes moveRight {
	0% {
		left: -1000px;
	}

	100% {
		left: 4000px;
	}
}
/*
POKEMON ANIMATIONS
*/

@keyframes walk-down {
	0% {
		background-position: -33.333% 0.00000%;
	}

	100% {
		background-position: 100.000% 0.00000%;
	}
}

@keyframes walk-left {
	0% {
		background-position: -33.333% 33.3333%;
	}

	100% {
		background-position: 100.000% 33.3333%;
	}
}

@keyframes walk-right {
	0% {
		background-position: -33.333% 66.6666%;
	}

	100% {
		background-position: 100.000% 66.6666%;
	}
}

@keyframes walk-up {
	0% {
		background-position: -33.333% 100.000%;
	}

	100% {
		background-position: 100.000% 100.000%;
	}
}

.attack {
	position: fixed;
	z-index: 10001;

	&.cut {
		left: 0;
		bottom: 0;
		background-size: 400% 100%;
		background-image: url('../images/attacks/cut.png');
		width: 4vh;
		height: 4vh;
		animation: attack4 0.25s steps(4) infinite;
	}

	&.cut2 {
		left: 0;
		bottom: 0;
		background-size: 400% 100%;
		background-image: url('../images/attacks/cut2.png');
		width: 4vh;
		height: 4vh;
		animation: attack4 0.3s steps(4) infinite;
	}

	&.punch {
		left: 0;
		bottom: 0;
		background-size: 400% 100%;
		background-image: url('../images/attacks/punch.png');
		width: 4vh;
		height: 4vh;
		animation: attack4 0.5s steps(4) 1;
	}

	&.fire-punch {
		left: 0;
		bottom: 0;
		background-size: 1400% 100%;
		background-image: url('../images/attacks/fire-punch.png');
		width: 4vh;
		height: 4vh;
		animation: attack13 0.75s steps(13) 1;
	}

	&.rock-throw {
		left: 0;
		bottom: 0;
		background-size: 1400% 100%;
		background-image: url('../images/attacks/rock-throw.png');
		width: 4vh;
		height: 4vh;
		animation: attack12 0.75s steps(12) 1;
	}
}

@keyframes attack4 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 133.3333% 0%;
	}
}

@keyframes attack12 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 109.0909% 0%;
	}
}

@keyframes attack13 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 108.3333% 0%;
	}
}